#wd-courses-navigation {
  width: 110px;
  background-color: black;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensure items take the full width */
}

#wd-courses-navigation .list-group-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
  height: 80px;
  text-align: center;
  border: none;
  background-color: white; /* Ensure background is white */
  padding: 0;
  margin: 0; /* Remove any default margins */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

#wd-courses-navigation .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
  outline: 2px solid black; /* Add black outline */
}

#wd-courses-navigation .list-group-item.text-danger {
  color: red;
}
